html,body
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html,body{
    overflow-x: hidden;
}
.flex-wrapper{
display: flex;
justify-content: center;
align-items: center;

}
a{
    color: rgb(80, 80, 80);
}
.flex-space-between{
    justify-content: space-between;
}
.container{
    z-index: 3;
    max-width: 1350px;
    margin: 0 auto;
}
.content{
    padding: 10px 10px;
 
}
.banner{
  background:  linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("Images/banner.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;

  background-position: center;
  z-index: 0;
 
 
}
.sub-banner{
    position:  absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: inherit;
    background-color: rgb(114, 35, 35);
    z-index: 1;
   
}
.strip{
    position: absolute;
    right: -41px;
    top: px;
    width: 120%;
    height: 50%;
    background: url("Images/slash.png") no-repeat;
      background-size: auto;
    background-size: cover;
    z-index: 2;

}
.dividers{
    justify-content: start;
    margin-bottom: 50px;
}
.divider{
    width: 40px;
    height: 4px;
    border: 1px solid white;
    background-color: transparent;
    margin-right: 5px;
  
}
a{
    text-decoration: none;
}
.one{
    background-color: white;
  
}
.box{
    top: 100px;
    position: absolute;
    z-index: 3;
    color: white;
}
 button{
padding: 10px 30px;
background: transparent;
border: 1px solid white;
color: white;
}
.know{
    margin: 30px 0px;
}
.sub-box{
 column-gap: 20px;
 padding: 30px;
 background: linear-gradient(to left,transparent,#351111);
 backdrop-filter: blur(10px);
}
.content{
   text-align: center;
 
}
.first{
  border-right: 1px solid white;
  padding: 10px 20px;

}
.small-border{
    border-right: 1px solid rgb(194, 194, 194);
    padding: 0px 20px;
}
.content> h4{
    font-size: 20px;
    padding: 5px;
}